

/*About Us*/
/* HELLO */
.about-h2 .et_pb_text_inner h2{
    padding-top: 30px;
}
.about-h4-order .et_pb_text_inner h4{
    padding-left: 102px;
    padding-top: 14px;
    letter-spacing: -1px;
}
.about-h4-delivery .et_pb_text_inner h4{
    padding-left: 33px;
    padding-top: 10px;
    letter-spacing: -1px;
}
.about-h4-quality .et_pb_text_inner h4{
    padding-right: 112px;
    padding-top: 14px;
    letter-spacing: -1px;
}
.about-order-p .et_pb_text_inner p{
    padding-left: 81px;
    padding-top: 8px;
}
.about-delivery-p .et_pb_text_inner p{
    padding-left: 32px;
    padding-top: 8px;
}
.about-quality-p .et_pb_text_inner p{
    padding-right: 68px;
    padding-top: 8px;
}
.about-order-p .et_pb_text_inner p {
    padding-left: 81px;
    padding-top: 8px;
    padding-bottom: 19px;
}

/*Contact Us*/
.contact-h2 .et_pb_text_inner h2 span{
    color:#ff0000;
}
.wpcf7-form{
    display: flex;
    flex-wrap: wrap;
}
.contact-1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .contact_us_csss input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 13px;
    margin-left: 22px;
}
.contact_us_csss label {
    font-size: 20px;
    color: black;
    margin-left: 27px;
}
.contact_us_csss textarea.wpcf7-form-control.wpcf7-textarea {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 13px;
    margin-left: 22px;
    /* margin-bottom: -94px; */
    width: 194%;
    height: 46px;
    margin-top: 7px;
}
input.wpcf7-form-control.has-spinner.wpcf7-submit {
    margin-top: 151px;
    /* margin-left: -325px; */
    background: #FFE13C;
    border-radius: 30px;
    font-size: 27px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -91px;
    border: 0px;
}
  /*resturants*/
  .Heading_itali {
    font-family: 'Hurricane';
    font-style: normal;
    font-weight: 400;
    font-size: 145px;
    line-height: 97px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #FF0000;
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}
.et_pb_module.et_pb_image.et_pb_image_1.pizzza_setting {
    margin-left: -127px;
    margin-top: -58px;
}
.color_background_setting {
    height: 264px;
}


/*bella_vetta*/
.BELLA_VETTA_BANNER {
    height: 270px;
}
.BABA_PIZZA_BANNER{
    height: 270px;
}
.BROADWAY_PIZZZA_BANNER{
    height: 270px;
}
.PIZZZA_MAX_BANNER{
    height: 270px;
}
.MAD_CHEESE_BANNAER{
    height: 270px;
}
.PIZZA_PANDA_BANNER{
    height: 270px;
}
.POPULAR_HEADING {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 97px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    border: 6px solid #ff0404;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price, .woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
    color: #100f0f !important;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins';
    margin: 0 !important;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 0.5em 0;
    margin: 0;
    color: #000000 !important;
    font-size: 2em;
    font-family: 'Poppins';
}


  /*Shop*/
  .woocommerce div.product div.images .woocommerce-product-gallery__image--placeholder{
    border: 2px solid #ff0000;
  }
  .woocommerce div.product .product_title {
    font-size: 40px;
    color: black;
}
  .entry-summary p.price span{
    font-size: 18px !important;
    color: #004171;
  } 
  .woocommerce div.product form.cart .button{
    background-color: black;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    color: white;
    font-size: 18px;
    margin-top: 5px;
  }
  .woocommerce div.product form.cart .button:hover{
    background-color: #ff0000;
  }
  .woocommerce-message a.button.wc-forward{
    background-color: black;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    color: white;
    font-size: 18px;
    margin-top: 5px;
  }
  .woocommerce-message a.button.wc-forward:hover{
    background-color: #ff0000;
  }
  .woocommerce .quantity input.qty {
    width: 7.3em;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 0px;
}
  .woocommerce button.button:hover:after, .woocommerce-page button.button:hover:after{
    font-size: 26px;
    margin-top: 1px;
  }
  .woocommerce .woocommerce-message {
    background-color: #FFE13C;
  }
  .woocommerce a.button:hover:after, .woocommerce-page a.button:hover:after{
    font-size: 26px;
    margin-top: 2px;
  }
  .woocommerce div.product .woocommerce-tabs .panel, body.woocommerce #content-area div.product .woocommerce-tabs .panel {
    border: 2px solid #ff0000;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs, body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs{
    background: black;
  }
  .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before{
    color: #FFE13C;
  }
  .woocommerce #review_form #respond .form-submit input{
    background-color: black;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    color: white;
    font-size: 18px;
    margin-top: 5px;
  }
  .woocommerce #review_form #respond .form-submit input:hover{
    background-color: #ff0000;
  }
    /*Shop*/
.woocommerce div.product div.images .woocommerce-product-gallery__image--placeholder{
    border: 2px solid #ff0000;
  }
  .woocommerce div.product .product_title{
    font-size: 50px;
    color: black;
  }
  .entry-summary p.price span{
    font-size: 18px !important;
    color: #004171;
  } 
  .woocommerce div.product form.cart .button{
    background-color: black;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    color: white;
    font-size: 18px;
    margin-top: 5px;
  }
  .woocommerce div.product form.cart .button:hover{
    background-color: #ff0000;
  }
  .woocommerce-message a.button.wc-forward{
    background-color: black;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    color: white;
    font-size: 18px;
    margin-top: 5px;
  }
  .woocommerce-message a.button.wc-forward:hover{
    background-color: #ff0000;
  }
  .woocommerce .quantity input.qty{
    width: 7.3em;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .woocommerce button.button:hover:after, .woocommerce-page button.button:hover:after{
    font-size: 26px;
    margin-top: 1px;
  }
  .woocommerce .woocommerce-message {
    background-color: #FFE13C;
  }
  .woocommerce a.button:hover:after, .woocommerce-page a.button:hover:after{
    font-size: 26px;
    margin-top: 2px;
  }
  .woocommerce div.product .woocommerce-tabs .panel, body.woocommerce #content-area div.product .woocommerce-tabs .panel {
    border: 2px solid #ff0000;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs, body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs{
    background: black;
  }
  .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before{
    color: #FFE13C;
  }
  .woocommerce #review_form #respond .form-submit input{
    background-color: black;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    color: white;
    font-size: 18px;
    margin-top: 5px;
  }
  .woocommerce #review_form #respond .form-submit input:hover{
    background-color: #ff0000;
  }
  .et_right_sidebar #sidebar{
    display:none;
  }
  #main-content .container:before {
    display:none;
  }
                                        /*Cart*/

.main_title {
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
    font-size: 40px;
}
.entry-content table:not(.variations) {
    text-align: center;
    border: 2px solid #ff0000;
}
.woocommerce button.button:disabled:hover, .woocommerce-page button.button:disabled:hover{
    background-color: #ff0000;
}
.woocommerce button.button, .woocommerce-page button.button{
    background-color: black;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    color: white;
    font-size: 18px;
    margin-top: 5px;    
}
.woocommerce button.button:hover, .woocommerce-page button.button:hover{
    background-color: #FF0000;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    color: white;
    font-size: 18px;
    margin-top: 5px;  
}
.woocommerce a.button.alt, .woocommerce-page a.button.alt{
    background-color: #FFE13C;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;  
}
.woocommerce a.button.alt:hover, .woocommerce-page a.button.alt:hover{
    background-color: #ff0000;
    border: 0px;
    border-radius: 50px;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 18px;
    margin-top: 5px;  
}