

/*About Us*/
/* HELLO */
.about-h2 .et_pb_text_inner h2{
    padding-top: 30px;
}
.about-h4-order .et_pb_text_inner h4{
    padding-left: 102px;
    padding-top: 14px;
    letter-spacing: -1px;
}
.about-h4-delivery .et_pb_text_inner h4{
    padding-left: 33px;
    padding-top: 10px;
    letter-spacing: -1px;
}
.about-h4-quality .et_pb_text_inner h4{
    padding-right: 112px;
    padding-top: 14px;
    letter-spacing: -1px;
}
.about-order-p .et_pb_text_inner p{
    padding-left: 81px;
    padding-top: 8px;
}
.about-delivery-p .et_pb_text_inner p{
    padding-left: 32px;
    padding-top: 8px;
}
.about-quality-p .et_pb_text_inner p{
    padding-right: 68px;
    padding-top: 8px;
}
.about-order-p .et_pb_text_inner p {
    padding-left: 81px;
    padding-top: 8px;
    padding-bottom: 19px;
}

/*Contact Us*/
.contact-h2 .et_pb_text_inner h2 span{
    color:#ff0000;
}
.wpcf7-form{
    display: flex;
    flex-wrap: wrap;
}
.contact-1 {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  /*resturants*/
  .Heading_itali {
    font-family: 'Hurricane';
    font-style: normal;
    font-weight: 400;
    font-size: 145px;
    line-height: 97px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #FF0000;
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}
.et_pb_module.et_pb_image.et_pb_image_1.pizzza_setting {
    margin-left: -127px;
    margin-top: -58px;
}
.color_background_setting {
    height: 264px;
}


/*bella_vetta*/
.BELLA_VETTA_BANNER {
    height: 270px;
}
.BABA_PIZZA_BANNER{
    height: 270px;
}
.BROADWAY_PIZZZA_BANNER{
    height: 270px;
}
.PIZZZA_MAX_BANNER{
    height: 270px;
}
.MAD_CHEESE_BANNAER{
    height: 270px;
}
.PIZZA_PANDA_BANNER{
    height: 270px;
}
.POPULAR_HEADING {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 97px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    border: 6px solid #ff0404;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price, .woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
    color: #100f0f !important;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins';
    margin: 0 !important;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 0.5em 0;
    margin: 0;
    color: #000000 !important;
    font-size: 2em;
    font-family: 'Poppins';
}